<h1>New article</h1>

<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li style="color: red"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <p>
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
    <br/>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Submit", disable_with: 'Submiting...' %>
  </p>
<% end %>

<p><%= link_to 'Return to all articles', articles_path %></p>
